*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    list-style: none;
    text-decoration: none;
    
}
#header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgk5eEcuSn1yjkwKVpxk7zkpBqNmL20GVcGQ&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background: linear-gradient(rgba(245, 49, 245, 0.7), rgba(46, 77, 251, 0.7)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgk5eEcuSn1yjkwKVpxk7zkpBqNmL20GVcGQ&usqp=CAU);
}

#nav{
    top: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    background-color: black;
    justify-content: space-between;
   position: fixed;
   z-index: 99;
}
.logo{
    margin-left: 8px;
}
.logo img{
    border-radius: 50%;
    background-color: #04AA6D;
    margin-left: 12px;
}

#nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 40px;
}
#nav ul li{
    text-decoration: none;
    list-style: none;
    margin: 12px;
    cursor: pointer;
}

#nav ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
   font-size: 16px;
   transition: all .5s ease;
}

#nav ul a:hover{
    color: aqua;
    transition: all 0.6s;
}

 #nav ul a::after{
    content: "";
    display: flex;
    position: absolute;
    background: red;
    left: 0;
    border-radius: 5px;
    bottom: -6px;
    height: 3px;
    width: 0%;
   cursor: pointer;
}

#nav ul a:hover::after{
    transition: all 0.6s;
    width: 100%;
}

#nav .logo{
    display: flex;
    color: white;
    align-items: center;
    margin-left: 8px;
   position: relative;

}
.logo img{
  border: 3px solid blue;
  margin-right: 12px;
}

.red{
    color: #ff004e;
    font-size: 30px;
    font-weight: 700;
}

#check{
    display: none;
}
#chack{
    display: none;
}
.checkbtn i{
   color: #ffff;
   width: 80%;
   font-size: 20px;
   margin-top: 10px;
   display: none;
   cursor: pointer;
   text-align: end;
   margin-right: 24px;
}

.name{
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
}
 
.containers{
    align-items: center;
    color: #ffff;
    /* width: 100vw; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   align-content: center;
}
.containers h1{
    font-size: 32px;
    font-weight: 900;
}
.containers h4{
    /* width: 100vw; */
    font-size: 17PX;
    margin-top: 18px;
    align-items: center;
    margin: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.names {
    color: #ff004e;
}
.aouto-type{
    color: #ff004e;
}
.btn-1{
    background-color: black;
    color: #ffff;
    box-sizing: border-box;
    padding: 12px 50px;
    border-radius: 5px;
    border: 3px solid slategray ;
    margin-top: 13px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.6s;
    
}

.btn-1 a{
    color: #ffff;
    text-decoration: none;
}
.btn-1::before{
    content: "";
    display: inline-block;
    position: absolute;
    background:  #2febaf;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    z-index: -1;
    
}
.btn-1:hover{
    color: white;
    z-index: 3;
    border: none;
}
.btn-1:hover::before{
    width: 100%;
    transition: all 0.6s;
}

#about{
    width: 100vw;
    flex-grow: 1;
}

#about h1 ,h3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
   
}
#about h3{
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;

}

.dev::after{
  content: "💻|";

}
.ui-ux::after{
  content: "🧑‍💻|";
}

 #about #abt::after{
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    background: linear-gradient(90deg,rgb(57, 143, 242), rgb(22, 240, 18),rgb(245, 25, 5));
    left: 50%;
    border-radius: 6px;
    bottom: -6px;
    height: 6px;
    width: 6%;
    transform: translate(-50%, -50%);
}
.know{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-grow: 1;
    width: 100%;
}
.btn-2{
    width: 300px;
    margin-top: 12px;
    height: 40px;
    cursor: pointer;
    transition: 0.7s;
    filter: blur(9px,#ffff);
    border-radius: 6px;
    background-color: #da22ff;
    transition: all 0.4s ease;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.btn-2 a{
    text-decoration: none;
    color: #000;
}

.btn-2:hover{
    color: white;
    background-color: #9733ee;
    border: none;
}
.btn-2:hover::before{
    width: 100%;
    transition: all 0.6s;
}
.Get-to-me{
    flex-grow: 1;
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.Get-to-me span{
  color: #ff004e;
}
.skils{
    flex-grow: 1;
    width: 100%;
    padding-right: 30px;
}

.skils ul{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    box-sizing: border-box;
}

.skils ul li{
    padding: 7px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #635f5f;
    color: #ffff;
    margin: 12px;
    font-size: 20px;
    position: relative;
}
.skils ul li::before{
    content: "";
    display: inline-block;
    position: absolute;
    background: linear-gradient(to right,#da22ff 0%,#9733ee 51%,#da22ff 100%);
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    z-index: -1;
    text-decoration: none;
}
.skils ul li:hover{
    color: #ffff;
    z-index: 5;
    text-decoration: none;
}

.skils ul li:hover:before{
    width: 100%;
    transition: all 0.7s;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 20px;
    }

    #nav ul li a{
        font-size: 16px;
        
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    #project{
      overflow-x: hidden;
    }
}
@media (max-width: 858px){
   body{
    overflow-x: hidden;
   }
    .know{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .Get-to-me{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .skils{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .skils ul{
        padding-left: 4px;
    }
    nav{
        width: 100vw;
    }
    #nav ul{
        position: fixed;
        width: 100%;
        background-color: rgb(4, 0, 0);
        left: -100%;
        /* left: 0%; */
        text-align: center;
        transition: all .5s ease;
        display: block;
        margin-top: 60px;
        height: 100vh;
        /* z-index: 9; */
    }
    #nav ul li{
        display: block;
        margin: 40px;
       
    }
    #nav ul li a{
        /* font-size: 30px; */
        position: none;
        display: block;
        margin: 20px 0;

    }
   nav ul li a:hover{
        background: none;
        color: #ff004e;
    }
   
    .checkbtn i{
       display: block;
       margin-right: 30px;
       
    }
    #check:checked~ul{
    left: 0;

    }
   #check:checked~.checkbtn i::before{
    content: "\f00d";
   
   }
   #chack:checked~li{
    left: 0;
   
    }
    #project{
      overflow-x: hidden
    }
    
};
#project{
    padding-top: 60px;
    height: 100vh;
    width: 100vw;
    align-items: center; 
    position: relative; 
    
}

.swiper-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;
}
.swiper{
    height: 500px;
    width: 1430px;
    
}
#project h1{
    display: flex;
     padding-bottom: 30px;
    justify-content: center;

}
.swiper-slide {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 450px;
    width: 300px;
    padding: 12px;
    
  }
  .swiper-slide p{
    margin-top:10px 12px;

  }
  .swiper-slide h4{
   align-items: start;
    font-size: 24px;
    margin-left: 20px;  
    margin-right: 20px;  
  }
  .swiper-button-next, .swiper-button-prev{
    color: #098780;
  }
  .swiper-pagination{
    padding-top: 70px;
  }
  
  .swiper-slide:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  
  .containerss {
   font-size: medium;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .swiper-slide {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }
  
  
  img {
    border-radius: 5px 5px 0 0;
    background-size: cover;
    display: block;
  }
 
  #contact{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgk5eEcuSn1yjkwKVpxk7zkpBqNmL20GVcGQ&usqp=CAU);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100vw;
    align-items: center;
    margin-top: 50px;
    background: linear-gradient(rgba(245, 49, 245, 0.7), rgba(46, 77, 251, 0.7)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgk5eEcuSn1yjkwKVpxk7zkpBqNmL20GVcGQ&usqp=CAU);;
  }
  #contact h1{
    color: #f2f2f2;
    font-size: 27px;
    font-weight: 800;
    position: relative;
    /* margin-top: 20px; */

  }
  #contact h1::after{
    content: "";
    display: flex;
    align-items: center;
    position: absolute;
    background: linear-gradient(90deg,rgb(227, 223, 224), rgb(255, 254, 255),rgb(253, 252, 252));
    left:50%;
    border-radius: 5px;
    bottom: 0px;
    top: 33px;
    height: 5px;
    width: 30%;
    transform: translate(-50%, -50%);
  }
  #contact span{
    color: #ffff;
  }
  #contact h4{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 12px;
    /* width: 100%; */
    align-items: center;
    align-content: center;
  }
 #contact .me{
  display: flex;
  justify-content: center;
 }

  .btn-3{
    width: 40%;
    height: 40px;
    background: linear-gradient(90deg,rgb(91, 140, 239), rgb(190, 136, 241),rgb(71, 187, 210));
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-top: 12px;
    text-decoration: none;
  }

  .btn-3 a{
    text-decoration: none;
  }

  input[type=text],input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
  }
  
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
 
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  input[type=submit]:hover {
    background: #45a049;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
.footer{
    height: 100%;
    width: 100vw;
    background-color: #000;
    color: #ffff;
    padding-left: 40px;
}
.footer h1{
    color: #da22ff;
    display: flex;
    justify-content: left;
    font-size: 24px;
    margin-top: 12px;
}
.footer h2{
    padding-top: 40px;
    color: #9733ee;
}
.footer a{
    margin: 12px;
    font-size: 22px;
    margin-top: 20px;
    
}
.footer a i{
    margin-top: 12px;
}

.footer a i:hover{
    color: #9733ee;
    size: 120%;
}

.footer i{
    color: #ffff;
}
.footer hr{
    margin-top: 30px;
    width: 96%;
    display: flex;
    margin-left: 2%;
}
.footer-down{
    height: 60px;

}
.footer-down span a{
    color: #da22ff;
    font-size: 18px;
}
.footer h4{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.fa-envelope{
    font-size: 12px;
}
